USE [asp-api]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 1.7.2020. 16.00.31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BillOfLadings]    Script Date: 1.7.2020. 16.00.31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BillOfLadings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[LoadId] [int] NOT NULL,
	[DriverId] [int] NOT NULL,
	[Image] [nvarchar](max) NULL,
 CONSTRAINT [PK_BillOfLadings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DriverLoads]    Script Date: 1.7.2020. 16.00.31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DriverLoads](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[Name] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[DriverId] [int] NULL,
	[LoadId] [int] NOT NULL,
 CONSTRAINT [PK_DriverLoads] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Drivers]    Script Date: 1.7.2020. 16.00.31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Drivers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[Name] [nvarchar](30) NOT NULL,
	[LastName] [nvarchar](30) NOT NULL,
	[TruckId] [int] NOT NULL,
 CONSTRAINT [PK_Drivers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Loads]    Script Date: 1.7.2020. 16.00.31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Loads](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[From] [nvarchar](max) NOT NULL,
	[To] [nvarchar](max) NOT NULL,
	[PickUp] [datetime2](7) NOT NULL,
	[Delivery] [datetime2](7) NOT NULL,
	[Weight] [decimal](18, 2) NOT NULL,
	[Miles] [int] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_Loads] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Models]    Script Date: 1.7.2020. 16.00.31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Models](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[Name] [nvarchar](30) NOT NULL,
	[YearOfProduction] [int] NOT NULL,
	[Color] [nvarchar](max) NULL,
 CONSTRAINT [PK_Models] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trucks]    Script Date: 1.7.2020. 16.00.31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trucks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[ModifiedAt] [datetime2](7) NULL,
	[IsDeleted] [bit] NOT NULL,
	[DeletedAt] [datetime2](7) NULL,
	[RegistrationMark] [nvarchar](450) NOT NULL,
	[Label] [int] NOT NULL,
	[ModelId] [int] NOT NULL,
 CONSTRAINT [PK_Trucks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UseCaseLogs]    Script Date: 1.7.2020. 16.00.31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UseCaseLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[UseCaseName] [nvarchar](max) NULL,
	[Data] [nvarchar](max) NULL,
	[Actor] [nvarchar](max) NULL,
 CONSTRAINT [PK_UseCaseLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 1.7.2020. 16.00.31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](30) NOT NULL,
	[LastName] [nvarchar](30) NOT NULL,
	[Email] [nvarchar](450) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[Phone] [nvarchar](max) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserUseCase]    Script Date: 1.7.2020. 16.00.31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserUseCase](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[UseCaseId] [int] NOT NULL,
 CONSTRAINT [PK_UserUseCase] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20200622130427_initial', N'3.1.5')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20200622161321_Added entities into database', N'3.1.5')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20200622192652_added configurations', N'3.1.5')
GO
SET IDENTITY_INSERT [dbo].[BillOfLadings] ON 

INSERT [dbo].[BillOfLadings] ([Id], [CreatedAt], [ModifiedAt], [IsDeleted], [DeletedAt], [LoadId], [DriverId], [Image]) VALUES (1, CAST(N'2020-06-30T16:31:34.3450063' AS DateTime2), NULL, 0, NULL, 4, 10, N'ffd7b991-52f4-42ad-829e-18bcd0e068e0.jpg')
SET IDENTITY_INSERT [dbo].[BillOfLadings] OFF
GO
SET IDENTITY_INSERT [dbo].[DriverLoads] ON 

INSERT [dbo].[DriverLoads] ([Id], [CreatedAt], [ModifiedAt], [IsDeleted], [DeletedAt], [Name], [LastName], [DriverId], [LoadId]) VALUES (1, CAST(N'2020-06-24T15:15:15.0000000' AS DateTime2), NULL, 0, NULL, N'John', N'Smith', 1, 5)
INSERT [dbo].[DriverLoads] ([Id], [CreatedAt], [ModifiedAt], [IsDeleted], [DeletedAt], [Name], [LastName], [DriverId], [LoadId]) VALUES (2, CAST(N'2020-06-24T15:15:16.0000000' AS DateTime2), NULL, 0, NULL, N'John', N'Smith', 1, 6)
INSERT [dbo].[DriverLoads] ([Id], [CreatedAt], [ModifiedAt], [IsDeleted], [DeletedAt], [Name], [LastName], [DriverId], [LoadId]) VALUES (3, CAST(N'2020-06-24T15:15:17.0000000' AS DateTime2), NULL, 0, NULL, N'Pera', N'Peric', 2, 5)
SET IDENTITY_INSERT [dbo].[DriverLoads] OFF
GO
SET IDENTITY_INSERT [dbo].[Drivers] ON 

INSERT [dbo].[Drivers] ([Id], [CreatedAt], [ModifiedAt], [IsDeleted], [DeletedAt], [Name], [LastName], [TruckId]) VALUES (1, CAST(N'2020-06-24T15:15:15.0000000' AS DateTime2), NULL, 0, NULL, N'John', N'Smith', 2)
INSERT [dbo].[Drivers] ([Id], [CreatedAt], [ModifiedAt], [IsDeleted], [DeletedAt], [Name], [LastName], [TruckId]) VALUES (2, CAST(N'2020-06-24T15:15:16.0000000' AS DateTime2), NULL, 0, NULL, N'Pera', N'Peric', 3)
INSERT [dbo].[Drivers] ([Id], [CreatedAt], [ModifiedAt], [IsDeleted], [DeletedAt], [Name], [LastName], [TruckId]) VALUES (3, CAST(N'2020-06-24T15:15:15.0000000' AS DateTime2), NULL, 0, NULL, N'Tom', N'Smith', 4)
SET IDENTITY_INSERT [dbo].[Drivers] OFF
GO
SET IDENTITY_INSERT [dbo].[Loads] ON 

INSERT [dbo].[Loads] ([Id], [CreatedAt], [ModifiedAt], [IsDeleted], [DeletedAt], [From], [To], [PickUp], [Delivery], [Weight], [Miles], [Price]) VALUES (4, CAST(N'2020-06-23T10:10:10.0000000' AS DateTime2), NULL, 0, NULL, N'Washington', N'Chicago', CAST(N'2000-01-01T00:00:00.0000000' AS DateTime2), CAST(N'2000-01-02T00:00:00.0000000' AS DateTime2), CAST(13.00 AS Decimal(18, 2)), 252, CAST(500.00 AS Decimal(18, 2)))
INSERT [dbo].[Loads] ([Id], [CreatedAt], [ModifiedAt], [IsDeleted], [DeletedAt], [From], [To], [PickUp], [Delivery], [Weight], [Miles], [Price]) VALUES (5, CAST(N'2020-06-23T21:36:07.7268635' AS DateTime2), NULL, 0, NULL, N'Rosalindmouth', N'Port Joanny', CAST(N'2019-04-04T21:02:21.0474991' AS DateTime2), CAST(N'2018-11-14T01:05:04.3049553' AS DateTime2), CAST(22.44 AS Decimal(18, 2)), 280, CAST(4506.16 AS Decimal(18, 2)))
INSERT [dbo].[Loads] ([Id], [CreatedAt], [ModifiedAt], [IsDeleted], [DeletedAt], [From], [To], [PickUp], [Delivery], [Weight], [Miles], [Price]) VALUES (6, CAST(N'2020-06-23T21:36:07.7281226' AS DateTime2), NULL, 0, NULL, N'West Stefanie', N'New Thereseshire', CAST(N'2020-03-31T21:58:54.5365090' AS DateTime2), CAST(N'2019-06-01T08:37:17.0465810' AS DateTime2), CAST(15.32 AS Decimal(18, 2)), 1589, CAST(4995.19 AS Decimal(18, 2)))
GO
SET IDENTITY_INSERT [dbo].[Loads] OFF
GO
SET IDENTITY_INSERT [dbo].[Models] ON 

INSERT [dbo].[Models] ([Id], [CreatedAt], [ModifiedAt], [IsDeleted], [DeletedAt], [Name], [YearOfProduction], [Color]) VALUES (1, CAST(N'2020-06-24T10:10:10.0000000' AS DateTime2), NULL, 0, NULL, N'Freightliner', 2010, N'Red')
INSERT [dbo].[Models] ([Id], [CreatedAt], [ModifiedAt], [IsDeleted], [DeletedAt], [Name], [YearOfProduction], [Color]) VALUES (2, CAST(N'2020-06-24T10:10:12.0000000' AS DateTime2), NULL, 0, NULL, N'Freightliner', 2016, N'White')
INSERT [dbo].[Models] ([Id], [CreatedAt], [ModifiedAt], [IsDeleted], [DeletedAt], [Name], [YearOfProduction], [Color]) VALUES (3, CAST(N'2020-06-24T10:10:11.0000000' AS DateTime2), NULL, 0, NULL, N'Freightliner', 2017, N'White')
SET IDENTITY_INSERT [dbo].[Models] OFF
GO
SET IDENTITY_INSERT [dbo].[Trucks] ON 

INSERT [dbo].[Trucks] ([Id], [CreatedAt], [ModifiedAt], [IsDeleted], [DeletedAt], [RegistrationMark], [Label], [ModelId]) VALUES (2, CAST(N'2020-06-24T10:10:10.0000000' AS DateTime2), NULL, 0, NULL, N'TMP050', 100, 1)
INSERT [dbo].[Trucks] ([Id], [CreatedAt], [ModifiedAt], [IsDeleted], [DeletedAt], [RegistrationMark], [Label], [ModelId]) VALUES (3, CAST(N'2020-06-24T00:00:00.0000000' AS DateTime2), NULL, 0, NULL, N'CHI5252', 101, 3)
INSERT [dbo].[Trucks] ([Id], [CreatedAt], [ModifiedAt], [IsDeleted], [DeletedAt], [RegistrationMark], [Label], [ModelId]) VALUES (4, CAST(N'2020-06-24T00:00:00.0000000' AS DateTime2), NULL, 0, NULL, N'LA4747', 102, 4)
SET IDENTITY_INSERT [dbo].[Trucks] OFF
GO
SET IDENTITY_INSERT [dbo].[UseCaseLogs] ON 

INSERT [dbo].[UseCaseLogs] ([Id], [Date], [UseCaseName], [Data], [Actor]) VALUES (1, CAST(N'2020-06-27T19:03:23.9539607' AS DateTime2), N'Register user command.', N'{"FirstName":"Novi","LastName":"Korisnik","Email":"korisnik@gmail.com","Password":"lozinkaaa","Phone":"6565656"}', N'Anonymous')
INSERT [dbo].[UseCaseLogs] ([Id], [Date], [UseCaseName], [Data], [Actor]) VALUES (2, CAST(N'2020-06-27T19:27:26.3786347' AS DateTime2), N'Register user command.', N'{"FirstName":"Marijana","LastName":"Mitrovic","Email":"makisads89@gmail.com","Password":"lozinkamaja","Phone":"6565656"}', N'Anonymous')
INSERT [dbo].[UseCaseLogs] ([Id], [Date], [UseCaseName], [Data], [Actor]) VALUES (3, CAST(N'2020-06-28T12:26:55.4027079' AS DateTime2), N'Delete load', N'20', N'Anonymous')
SET IDENTITY_INSERT [dbo].[UseCaseLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [Email], [Password], [Phone]) VALUES (1, N'Pera', N'Dispatch', N'pera@gmail.com', N'perinalozinka', N'222333')
INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [Email], [Password], [Phone]) VALUES (2, N'Mika', N'Vozac', N'mika@gmail.com', N'mikinalozinka', N'111222')
INSERT [dbo].[Users] ([Id], [FirstName], [LastName], [Email], [Password], [Phone]) VALUES (3, N'Novi', N'Korisnik', N'korisnik@gmail.com', N'lozinkaaa', N'6565656')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[UserUseCase] ON 

INSERT [dbo].[UserUseCase] ([Id], [UserId], [UseCaseId]) VALUES (1, 1, 1)
INSERT [dbo].[UserUseCase] ([Id], [UserId], [UseCaseId]) VALUES (2, 1, 2)
INSERT [dbo].[UserUseCase] ([Id], [UserId], [UseCaseId]) VALUES (3, 1, 3)
SET IDENTITY_INSERT [dbo].[UserUseCase] OFF
GO
ALTER TABLE [dbo].[BillOfLadings]  WITH CHECK ADD  CONSTRAINT [FK_BillOfLadings_Drivers_DriverId] FOREIGN KEY([DriverId])
REFERENCES [dbo].[Drivers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BillOfLadings] CHECK CONSTRAINT [FK_BillOfLadings_Drivers_DriverId]
GO
ALTER TABLE [dbo].[BillOfLadings]  WITH CHECK ADD  CONSTRAINT [FK_BillOfLadings_Loads_LoadId] FOREIGN KEY([LoadId])
REFERENCES [dbo].[Loads] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BillOfLadings] CHECK CONSTRAINT [FK_BillOfLadings_Loads_LoadId]
GO
ALTER TABLE [dbo].[DriverLoads]  WITH CHECK ADD  CONSTRAINT [FK_DriverLoads_Drivers_DriverId] FOREIGN KEY([DriverId])
REFERENCES [dbo].[Drivers] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[DriverLoads] CHECK CONSTRAINT [FK_DriverLoads_Drivers_DriverId]
GO
ALTER TABLE [dbo].[DriverLoads]  WITH CHECK ADD  CONSTRAINT [FK_DriverLoads_Loads_LoadId] FOREIGN KEY([LoadId])
REFERENCES [dbo].[Loads] ([Id])
GO
ALTER TABLE [dbo].[DriverLoads] CHECK CONSTRAINT [FK_DriverLoads_Loads_LoadId]
GO
ALTER TABLE [dbo].[Drivers]  WITH CHECK ADD  CONSTRAINT [FK_Drivers_Trucks_TruckId] FOREIGN KEY([TruckId])
REFERENCES [dbo].[Trucks] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Drivers] CHECK CONSTRAINT [FK_Drivers_Trucks_TruckId]
GO
ALTER TABLE [dbo].[Trucks]  WITH CHECK ADD  CONSTRAINT [FK_Trucks_Models_ModelId] FOREIGN KEY([ModelId])
REFERENCES [dbo].[Models] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Trucks] CHECK CONSTRAINT [FK_Trucks_Models_ModelId]
GO
ALTER TABLE [dbo].[UserUseCase]  WITH CHECK ADD  CONSTRAINT [FK_UserUseCase_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserUseCase] CHECK CONSTRAINT [FK_UserUseCase_Users_UserId]
GO
